@import 'styleguide'

.Input
  position: relative
  display: inline-block
  color: $placeholder-color
  font-weight: bold
  height: $input-height
  font-family: $ff-sans-2
  font-size: $font-size
  &:before
    content: "$"
    display: block
    position: absolute
    left: 10px
    top: 50%
    transform: translateY(-50%)

.element
  width: 100%
  height: 100%
  box-sizing: border-box
  border: $base-border
  border-radius: $border-radius
  padding: 0 23px
  font-size: 18px
  color: $arsenic
  font-weight: bold
  font-family: $ff-sans-2
  transition: border-color .5s

  &:focus
    border-color: $brand-color

  &::placeholder
    color: $placeholder-color

  // Remove arrows
  -moz-appearance: textfield
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0