@import 'styleguide'

.Button
  font-weight: bold
  font-size: $font-size
  font-family: $ff-sans
  background: $wageningen-green
  color: white
  border-radius: $border-radius
  padding: 0 14px
  height: $input-height
  transition: background .5s
  text-align: center
  &:active
    background: darken($wageningen-green, 10%)
