@import 'styleguide'

.DonateCard
  font-family: $ff-sans
  font-size: 16px
  width: 300px

.box
  margin: 11px 0
  box-shadow: 0 2px 0 $white-smoke
  position: relative
  border: $base-border
  text-align: left

.info
  font-size: 14px
  padding: 14px 22px
  border-top: $base-border
  em
    color: $brand-color
    font-weight: bold
    font-style: normal
  p
    margin-bottom: 14px
    line-height: 1.5